{{!-- page title --}}
<h1>Eat Da Burger</h1>
			<div id="image">
			<img src="/images/burger.png" alt="burger" class="image"/>
			</div>
		
		<div class="button">
			<input type="text">
			<button type="submit" class="btn-default">Devour Da Burger</button>
		</div>