{{!-- page title --}}
<h1>Eat Da Burger</h1>
	<div class="style">
			<div id="image">
			<img src="/images/burger.png" alt="burger" class="image"/>
			</div>
		
		<div class="button">
			<p>What kind of burger would you like to devour?</p>
			<input type="text" row>
			<br>
			<button type="button" class="btn btn-primary">Devour Da Burger</button>
		</div>
	</div>